GATEWAY_HOST=homelab.local
VOLUME_BASE_PATH=/opt/volumes
GATEWAY_EMAIL_LETSENCRYPT=example@example.com
DISCORD_BOT_TOKEN=
GEMINI_API_KEY=
UPTIME_KUMA_UPS_URL=https://uptimekuma.example.com/api/push/***
HA_UPS_WEBHOOK_URL=https://homeassistant.example.com/api/webhook/***
UPS_REQUEST_HEX=XXX
HOME_ASSISTANT_TOKEN=XXX
HOME_ASSISTANT_FIRETV_EVENT_URL=https://homeassistant.example.com/api/events/***