worker_processes auto;

events {
    worker_connections 1024;
}

stream {
  map $ssl_preread_server_name $backend {
    jellyfin.${GATEWAY_HOST} ${DESTINATION_IP}:443;
    ha.${GATEWAY_HOST} ${DESTINATION_IP}:443;
    default fallback:4444;
  }

  server {
    listen 443;
    proxy_pass $backend;
    ssl_preread on;
  }
}
