worker_processes auto;

events {
    worker_connections 1024;
}

stream {
  map $ssl_preread_server_name $backend {
    ha.${GATEWAY_HOST} ${DESTINATION_IP}:443;
    uptime.${GATEWAY_HOST} ${DESTINATION_IP}:443;
    neon-drift-server.${GATEWAY_HOST} ${DESTINATION_IP}:443;
  }

  server {
    listen 443;
    proxy_pass $backend;
    ssl_preread on;
  }
}
